<!DOCTYPE html>
<html>
  <head>
    <title>Modern blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="root"></div>
    <%= yield %>
    <%= javascript_pack_tag 'app' %>
  </body>
</html>
